@import "styles/variable.scss";

.root {
  position: fixed;
  z-index: 1;
  width: 100%;
  line-height: normal;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.options {
  display: flex;

  .item {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
  }
}
